<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Listen to this album on popular streaming services like Apple Music, Deezer or Spotify with links provided by VGTunes.">

		<meta property="og:site_name" content="VGTunes">
		<meta property="og:title" content="{{ album.title }} - {{ album.artist }}">
		<meta property="og:image" content="{{ cover }}">
		<meta property="og:url" content="{{ page_url }}">
		<meta property="og:description" content="Listen to this album on popular streaming services like Apple Music, Deezer or Spotify with links provided by VGTunes.">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{{ album.title }} - {{ album.artist }}">
		<meta name="twitter:description" content="Listen to this album on popular streaming services like Apple Music, Deezer or Spotify with links provided by VGTunes.">
		<meta name="twitter:image" content="{{ cover }}">
		<meta name="twitter:url" content="{{ page_url }}">

		<title>{{ album.title }}
			-
			{{ album.artist }}
			| VGTunes</title>

		<link rel="preload" href="/css/album-style.css" as="style"/>
		<link rel="preload" href="/css/cookies-consent.css" as="style"/>
		<link href="/css/album-style.css" rel="stylesheet"/>
		<link href="/css/cookies-consent.css" rel="stylesheet"/>
		<style type="text/css">
			.with-cover-image {
				background-image: url('{{ cover }}');
			}
		</style>

		<script type="text/javascript" src="/js/share.js" defer></script>
		<script type="text/javascript" src="/js/analytics.js" defer></script>
	</head>
	<body class="album-page">
		{{ include('cookies-consent.twig') }}

		<div id="back-cover" class="with-cover-image"></div>
		<div id="container">
			<div id="cover" class="with-cover-image"></div>
			<div id="infos">
				<h1>{{ album.title }}</h1>
				<h2>{{ album.artist }}</h2>

				<a href="#" class="share-button" data-share-url="{{ page_url }}" data-share-text="{{ album.title }} - {{ album.artist }}"><img src="/images/share-icon.png"/></a>
			</div>
			{% if album.instances is not empty %}
				<ul id="links">
					{% for platform, platformUrl in album.instances %}
						<li class="platform platform-{{ platform }}">
							<a href="{{ platformUrl }}">Listen</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div id="footer">
			<div class="logo">VGTunes</div>
			<div class="legal">{{ include('legal-footer.twig') }}</div>
		</div>

		<div id="copied-to-clipboard-toast">Link copied to clipboard.</div>
	</body>
</html>
