<!DOCTYPE html>
<html charset="utf-8">
	<head>
		<title>VGTunes</title>
		<meta name="descripton" content="Get links to your favorite video game soundtracks on Deezer, Spotify and Apple Music.">
		<link rel="preload" href="/css/main-style.css?t={{ generation_timestamp }}" as="style"/>
		<link href="/css/main-style.css?t={{ generation_timestamp }}" rel="stylesheet"/>
		<script type="text/javascript" src="js/search.js?t={{ generation_timestamp }}" defer></script>

		{{ include('common-head.twig') }}
	</head>
	<body>
		<div id="main-container">
			{{ include('cookies-consent.twig') }}

			<div id="search-cancel"></div>

			<div id="header">
				<div class="column">
					<div class="logo">
						<a href="/">VGTunes</a>
					</div>
					<div class="search">
						<img src="images/looking-glass.svg" class="looking-glass"/>
						<input type="text" id="search-terms" placeholder="Loading search index..." disabled/>
						<div id="results-dropdown">
							<ul id="results-list">
								<li class="no-result">No results found</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="main-section">
				<h1>
					{% block header %}{% endblock %}
				</h1>

				{% block content %}{% endblock %}
			</div>

			<div id="footer">
				<div class="column">{{ include('legal-footer.twig') }}</div>
			</div>
		</div>
	</body>
</html>
