<!DOCTYPE html>
<html charset="utf-8">
	<head>
		<title>VGTunes</title>
		<meta name="descripton" content="Get links to your favorite original video game soundtracks on Deezer, Spotify and Apple Music.">
		<link rel="preload" href="/css/main-style.css?t={{ git_hash_cache.getHash('css/main-style.css') }}" as="style"/>
		<link href="/css/main-style.css?t={{ git_hash_cache.getHash('css/main-style.css') }}" rel="stylesheet"/>
		<script type="text/javascript" src="js/search.js?t={{ git_hash_cache.getHash('js/search.js') }}" defer></script>

		<meta property="og:site_name" content="VGTunes">
		<meta property="og:title" content="VGTunes">
		<meta property="og:image" content="{{ base_url }}images/logo-white-background-512px.png">
		<meta property="og:url" content="{{ base_url }}">
		<meta property="og:description" content="Get links to your favorite original video game soundtracks on Deezer, Spotify and Apple Music.">

		{{ include('common-head.twig') }}
	</head>
	<body>
		<div id="main-container">
			{{ include('cookies-consent.twig') }}

			<div id="search-cancel"></div>

			<div id="header">
				<div class="column">
					<div class="logo">
						<a href="/"><img src="/images/logo-icon-white-128px.png"/>
							VGTunes</a>
					</div>
					<div class="search">
						<img src="images/looking-glass.svg" class="looking-glass"/>
						<input type="text" id="search-terms" placeholder="Loading search index..." disabled/>
						<div id="results-dropdown">
							<ul id="results-list">
								<li class="no-result">No results found</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="main-section">
				<div id="top-bar-container">
					<div class="column"> {% block header %}{% endblock %}
						</div>
					</div>

					{% block content %}{% endblock %}
				</div>

				<div id="footer">
					<div class="column">{{ include('legal-footer.twig') }}</div>
				</div>
			</div>
		</body>
	</html>
