{% extends 'main-pages-base.twig' %}

{% set page_title = 'Album Catalog - %s'|format(catalog_key|capitalize) %}

{% block title '%s | '|format(page_title) %}

{% block header %}
	<h1 class="catalog-header">{{ page_title }}</h1>

	<div class="buttons-container">
		<a href="/" class="button">&larr; Back</a>
	</div>
{% endblock %}

{% block content %}
	<div class="scrollview album-catalog">
		<div class="small-column">
			{{ include('catalog/catalog-index.twig', { catalog_category: 'albums' }) }}

			<ul id="catalog-listing">
				{% for album in bucket %}
					<li>
						{% set imgsrc = "https://images.vgtunes.chsxf.dev/covers/%s/cover_500.webp"|format(album.slug) %}
						<img src="{{ imgsrc }}" alt="">
						<a href="/albums/{{ album.slug }}">
							<img src="{{ imgsrc }}" width="64" alt="Cover art">
							<span class="title">{{ album.title}}</span>
							<span class="artist">{{ album.artist }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
